@font-face{
    font-family: "norse";
    src: url("../fonts/norse-bold-webfont.woff") format("woff"),
        url("../fonts/norse-bold-webfont.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: grid;
    grid-template: "header" 150px "main" 1fr;
}

.header{
    grid-area: header;
    background: rgba(128, 128, 128, 0.8);
    display: grid;
    grid-template: "logo logo-font" 100%/100px max-content 1fr;
    align-items: center;
    justify-items: center;
    padding: 50px;
    box-sizing: border-box;
}

#logo{
    grid-area: "logo";
    width: 100%;
}

#logo-font{
    color: rgb(17, 66, 17);
    font-family: "norse",serif;
    font-size: 50px;
}

#add-book{
    justify-self: end;
}

.button{
    /* justify-self: end; */
    appearance: none;
    width: 150px;
    height: 50px;
    font-family: "norse",serif;
    font-size: 35px;
    font-weight: 200;
    background-color: #e2b266;
    color: rgb(17, 66, 17);
    margin-left: 10px;
    transition: all 0.1s;
    border-style: none;
}

.button:hover{
    background-color: #bc862f
}

.book-form{
    position: absolute;
    height: 0px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.form-container{
    height: 600px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 50px 20px;
    box-sizing: border-box;
    font-family: "norse",serif;
}

.form-container>h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
}

.form-container>form label{
    display: block;
    font-size: 25px;
    margin-bottom: 5px;
}

.form-container>form>p{
    position: relative;
    margin: 20px 10px;
}

.form-container>form>p>input[type="text"]{
    border-radius: 5px;
    width: 100%;
    height: 30px;
    border-style: solid;
}

.form-container>form>p>input[type="checkbox"]{
    appearance: none;
    width: 0px;
}

#status-container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

#status-container>label{
    position: relative;
    border-style: solid;
    width: max-content;
    padding: 5px;
    background-color: gold;
    transition: all 0.3s;
    border-radius: 10px;
}

#status-container>label::after{
    content: " ";
    width: 45px;
    height: 40px;
    background-color: grey;
    position: absolute; 
    top: 0px;
    left: 0px;
    transition: all 0.3s;
    border-radius: 8px;
}


#status-container>input:checked + label{
    background-color: lightgreen;
}

#status-container>input:checked + label::after{
    left: 75px;
    width: 105px;
}

.submit-layer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#form-submit{
    border-radius: 10px;
}

.button-clicked{
    transform: scale(0.9);
}

.main-container{
    box-sizing: border-box;
    height: 100%;
    display: grid;
    padding: 50px;
    grid-template: repeat(auto-fit,400px)/repeat(auto-fit,300px);
    gap: 30px;
    background-color: rgba(0, 0, 0, 0.641);
}

.book-card{
    height: 400px;
    width: auto;
    border-radius: 10px;
    background-color: white;
}




