@font-face{
    font-family: "norse";
    src: url("../fonts/norse-bold-webfont.woff") format("woff"),
        url("../fonts/norse-bold-webfont.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    
}

body{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: grid;
    grid-template: "header" 150px "main" 1fr;
    font-family: "norse",serif;
}

.header{
    grid-area: header;
    background: rgba(128, 128, 128, 0.8);
    display: grid;
    grid-template: "logo logo-font" 100%/100px max-content 1fr;
    align-items: center;
    justify-items: center;
    padding: 50px;
    box-sizing: border-box;
}

#logo{
    grid-area: "logo";
    width: 100%;
}

#logo-font{
    color: rgb(17, 66, 17);
    font-family: "norse",serif;
    font-size: 50px;
}

#add-book{
    justify-self: end;
}

.button{
    appearance: none;
    width: 150px;
    height: 50px;
    font-family: "norse",serif;
    font-size: 35px;
    font-weight: 200;
    background-color: #e2b266;
    color: rgb(17, 66, 17);
    margin-left: 10px;
    transition: all 0.1s;
    border-style: none;
}

.button:hover{
    background-color: #bc862f
}

.book-form{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.visible{
    display: flex;
}

.form-container{
    height: 600px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 50px 20px;
    box-sizing: border-box;
    font-family: "norse",serif;
    position: relative;
    z-index: 2; 
}

.form-container>h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
}


.close-button{
    width: 24px;
    height: 24px;
    position: absolute;
    appearance: none;
    border-style: none;
    background-color: inherit;
}

#form-close{
    right: 20px;
    top: 25px;
}

.close-button>svg{
    transition: all 0.1s;
}

.close-button:hover>svg{
    transform: scale(1.2);
}

.close-button:hover>svg>path:first-child{
    fill: crimson;
}

label{
    display: block;
    font-size: 25px;
    margin-bottom: 5px;
}

.form-container>form>p{
    position: relative;
    margin: 20px 10px;
}

.form-container>form>p>input[type="text"]{
    border-radius: 5px;
    width: 100%;
    height: 30px;
    border-style: solid;
}

input[type="checkbox"]{
    appearance: none;
    width: 0px;
}

#form-book-status{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.status-container>label{
    position: relative;
    border-style: solid;
    width: max-content;
    padding: 5px;
    background-color: gold;
    transition: all 0.3s;
    border-radius: 10px;
}

.status-container>label::after{
    content: " ";
    width: 45px;
    height: 40px;
    background-color: grey;
    position: absolute; 
    top: 0px;
    left: 0px;
    transition: all 0.3s;
    border-radius: 8px;
}


.status-container>input:checked + label{
    background-color: lightgreen;
}

.status-container>input:checked + label::after{
    left: 50px;
    width: 102px;
}

.submit-layer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#form-submit{
    border-radius: 10px;
}

.button-clicked{
    transform: scale(0.9);
}

.main-container{
    box-sizing: border-box;
    height: 100%;
    display: grid;
    padding: 40px;
    grid-template: max-content/repeat(auto-fit,350px);
    gap: 25px;
    background-color: rgba(33, 33, 33, 0.641);
}

.book-card{
    height: max-content;
    width: auto;
    border-radius: 10px;
    background-color: rgba(231, 223, 223, 0.898);
    padding: 30px;
    position: relative;
    box-sizing: border-box;
    box-shadow: 5px 5px 2px 5px black;
   
}

.card-layout{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-layout>dt{
    font-size: 25px;
    background-color: #e2b266;
    width: max-content;
    padding: 5px;
    border-radius: 20%;
}

.card-layout>dd{
    font-size: 30px;
    letter-spacing: 3px;
    padding-bottom: 10px;
}



.remove-button{
    appearance: none;
    font-size: 25px;
    border-style: solid;
    background-color: rgb(246, 75, 109);
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    border-width: 3px;
    border-color: black;
    font-family: inherit;
    margin-top: 20px;
    transition: all 0.3s;
}

.remove-button:hover{
    background-color: crimson;
}

.empty{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    letter-spacing: 3px;
    color: #e2b266;
    text-shadow: 3px 3px 5px black;
}
